# Save your Railway credentials here (don't commit!)
# Used by import-railway.sh

# Get these from Railway MySQL database "Connect" tab:
RAILWAY_HOST=
RAILWAY_PORT=
RAILWAY_USER=
RAILWAY_PASSWORD=
RAILWAY_DB=
